<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:replace="~{outlines/header::common}"></header>

<th:block th:object="${member}">
    [[*{@cLib.toConvert(userId)}]] <br>
    [[${@cLib.toConvert(member.userId)}]]
    <dl>
        <dt th:text="#{userId}"></dt>
        <dd th:text="*{userId}"></dd>
    </dl>
    <dl>
        <dt th:text="#{userNm}"></dt>
        <dd th:text="*{userNm}">1111</dd>
    </dl>
    <dl>
        <dt th:text="#{mobile}"></dt>
        <dd th:text="*{mobile}"></dd>
    </dl>
    <dl>
        <dt th:text="#{member.intro}"></dt>
        <dd th:utext="*{intro}"></dd>
    </dl>
    <dl>
        <dt th:text="#{member.regDt}"></dt>
        <dd th:text="*{#temporals.format(regDt, 'yyyy.MM.dd')}"></dd>
    </dl>
</th:block>

<footer th:replace="~{outlines/footer::common}"></footer>
</body>
</html>